# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv configuration
.pyenv/
.python-version

# Python virtual environment
venv/

# Jupyter Notebook files
.ipynb_checkpoints

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Local configuration files
config.py
