{% extends "layout.html" %}

{% block sub_content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Upcoming Events</h1>

    {% if events %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Hosted By</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Location</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event['event_id'] }}</td>
                            <td>{{ event['host_username'] }}</td>
                            <td>{{ event['title'] }}</td>
                            <td>{{ event['description'] }}</td>
                            <td>{{ event['event_date'] }}</td>
                            <td>{{ event['poi_name'] }}</td>
                            <td>
                            <!-- Check if the logged-in user is the host of the event -->
                            {% if session['username'] == event.host_username %}
                                <!-- Provide a link to the edit page for this event -->
                                <a href="{{ url_for('edit_event', event_id=event.event_id) }}" class="btn btn-sm btn-primary">Edit</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            No upcoming events found.
        </div>
    {% endif %}
</div>
{% endblock %}

